@import url("https://fonts.googleapis.com");
@import url("https://fonts.gstatic.com");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap");


.full-screen{
    height: 100vh;
    width: 100vw;
}

.main-bg{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("../assets/img/bg-showcase-4.jpg");
}

.main-container{
    height: 80%;
}

.main-row{
    height: 100%;
}

.footer-text{
    color: white;
    font-size: 20pt;
    font-family: 'Noto Sans KR', sans-serif;
}

.footer-icon{
    margin-left: 5px;
}

.copyright-text{
    font-size: 12pt;
}

.btn-fixed{
    width: 100px !important;
}

.files-list-card{
    max-height: 800px;
    overflow-y: auto;
}

/* .list-group-item {
    position: relative;
    display: block;
    padding: 0.5rem 1rem;
    color: #212529;
    text-decoration: none;
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    border-top: 1px solid rgba(0, 0, 0, 0.125);
    border-right: 0 !important;
    border-left: 0 !important;
} */

.json-input-textarea{
    width: 100%;
    height: 200px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid rgba(136, 136, 136, 0.658) !important;
}

.json-input-textarea:focus{
    outline: none !important;
    border: 1px rgb(49, 100, 255, 0.8);
    box-shadow: 0 0 5px #719ece;
}

.json-input-textarea::-webkit-scrollbar{
    width: 16px;
}



.json-input-textarea::-webkit-scrollbar-thumb {
    background-color: #cfcfcf;
    border-radius: 100px;
}

.json-input-textarea::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 100px;
}

.file-ico{
    margin-right: 3px;
}

.vbox-running{
    background-color: #28a745;
    color: white
}

.vbox-pause{
    color: #fff;
    background-color: #6c757d;
}

.vbox-off{
    color: #fff;
    background-color: #343a40;
}